@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;600;700&display=swap');
@import "./reset.css";


.header {
    padding: 0 73px 28px 73px;
    font-family: 'Inter', sans-serif;
    top: 0;
    left: 0;
    right: 0;
}
.container {
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 30px;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0 32px 0;
}
.logo {
    -moz-user-select: none;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
.nav-menu {
}
.search-shop {
    display: flex;
    padding-right: 30px;
    column-gap: 15px;
}
.nav-ul {
    display: flex;
    column-gap: 40px;
}
.item-ul-nav:nth-child(2) {
    position: relative;
}
.item-ul-nav:nth-child(2)::after {
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 1.5px solid #070847;
    border-right: 1.5px solid #070847;
    top: 4px;
    cursor: pointer;
    right: -16px;
    transform: rotate(135deg);
}
.item-ul-nav:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.search:hover, .shop-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.item-ul-nav a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.gallery-block {
    padding-bottom: 75px;
}
.gallery-phones-row {
    display: flex;
    position: relative;
    align-items: center;
    background: #DCE5E2;
    border-radius: 32px;
   
}
.gallery-content {
    padding-left: 56px;
    width: 50%;
}
.gallery-content h1 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    color: #000000;
    padding-bottom: 19px;
}
.gallery-content p {
    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-bottom: 30px;
}
.img-gallery {
    width: 50%;
}
.button-gallery {
    padding: 14px 53px 15px 53px;
    border: 1px solid black;
    border-radius: 30px;
    max-width: 170px;
    cursor: pointer;
}
.button-gallery:hover, .button-gallery:active {
    background-color: #69817a;
    border: 1px solid #DCE5E2;
    color: white;
    transform: scale(1.2);
}
.text-button {
    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
}
.arrow-left {
    position: absolute;
    left: 19px;
    cursor: pointer;
}
.arrow-right {
    position: absolute;
    right: 19px;
    cursor: pointer;
}
.arrow-left:hover, .arrow-right:hover {
    transform: scale(1.2);
}
.rectangles {
    bottom: 34px;
    left: 380px;
    right: 320px;
    text-align: center;
    position: absolute;
    display: flex;
    column-gap: 34px;
}
.rectangle {
    width: 194px;
    height: 2px;
    background: #000000;
    border-radius: 0px;
}
.rectangle:hover {
    cursor: pointer;
    transform: scale(1.2);
    background:#484848;
}

.text-category {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 55px;
}
.text-category h1 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    padding-bottom: 9px;
}
.text-category p {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    max-width: 628px;
}
.category-content-row {
    display: flex;
    column-gap: 71px;
    padding-bottom: 6px;
}
.left-category {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.laptops-block, .watch-block {
    background: #FFFFFF;
    border-radius: 32px;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}
.right-category {
    display: flex;
}
.watch-block {
    display: flex;
    align-items: center;
    column-gap: 46px;
}
.laptops {
    padding: 0 97px 0 42px;
}
.text-laptop {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 42px;
}
.watch {
    padding-left: 42px;
}
.text-watch {
    display: flex;
    flex-direction: column;
}
.name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: right;
    color: #000000;
}
.description {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: right;
    color: #000000;
}
.right-row {
    display: flex;
    column-gap: 16px;
}
.first-right-block, .second-right-block {
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
    border-radius: 32px;
}
.phones {
    padding: 144px 0 41px 16px;
}
.first-right-block h3, .second-right-block h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}
.first-right-block h3 {
    padding: 0 31px;
}
.first-right-block p {
    padding: 0 31px;
}
.first-right-block p, .second-right-block p {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}
.second-right-block h3 {
    padding-top: 114px;
}
.second-right-block p {
    padding-bottom: 42px;
}
.laptops-block, .watch-block, .first-right-block, .second-right-block {
    -webkit-transition: transform 0.5s ease-in-out;
}
.laptops-block:hover, .watch-block:hover, .first-right-block:hover, .second-right-block:hover {
    cursor: pointer;
    transform: scale(1.03);
}
.shop-categories {
    padding-bottom: 72px;
}

.selled {
    padding: 0 45px 47px 45px;
}
.zag-selled {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    padding: 72px 0 9px 0;
}
.limited-edition-text {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    text-align: center;
    padding-bottom: 31px;
}
.selled-row {
    display: flex;
    column-gap: 27px;
    justify-content: center;
    flex-wrap: wrap;
}
.item {
    padding: 28px;
}
.name-item {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    padding-bottom: 9px;
}
.description-item {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4B4B4B;
    padding-bottom: 25px;
    max-width: 261px;
}
.price-item {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
#second-limited {
    padding-bottom: 56px;
}
#second-zag {
   padding-top: 47px;
}

.best {
    padding-bottom: 47px;
}
.best-items {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #F8F9FA;
    border-radius: 16px;
}
.best-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.best-item-img1 {
    padding: 0 77px;
}
.best-item-img2 {
    padding: 0 60px;
}
.best-item-img3 {
    padding: 0 29px;
}
.best-items p {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    padding-top: 41px;
}
.best-items h3 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    padding-bottom: 30px;
}
.button-best {
    padding: 14px 63px;
    background: #F8F9FA;
    border: 1px solid #000000;
    border-radius: 200px;
    max-width: 190px;
    margin-bottom: 30px;
    -webkit-transition:all 1s;
}
.button-best a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}
.button-best:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.ideas {
    padding: 0 45px 28px;
}
.book {
    padding-left: 28px;
}
.ideas-row {
    display: flex;
    column-gap: 35px;
    padding-bottom: 73px;
    flex-wrap: wrap;
}
.ideas-content p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    padding-bottom: 28px;
}
#firstP {
    padding-top: 14px;
    max-width: 569px;
}
#secP {
    max-width: 600px;
}
#thirdP {
    max-width: 521px;
}
#fourP {
    max-width: 569px;
}
.see-all {
    display: flex;
    justify-content: center;
}
.see-all p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #000000;
}