@media(max-width: 1500px) {
    .watch-block {
        display: block;
    }
    .text-watch {
        padding: 0 42px 0 0;
    }
    .ideas-row {
        justify-content: center;
    }
    .book {
        padding-left: 0;
        padding-bottom: 35px;
    }
    .ideas-content {
        max-width: 100%;
    }
    .ideas-content p {
        text-align: justify;
    }
}
@media(max-width: 1276px) {
    .footer-row {
        justify-content: center;
        gap: 30px;
    }
    .about-california {
        text-align: center ;
    }
    .footer-ul {
        text-align: justify;
    }
    .end-block {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-right: 0;
    }
    .footer-items:nth-child(1) {
        max-width: 101px;
    }
    .footer {
        padding-bottom: 25px;
    }
}

@media(max-width: 1095px) {
    .rectangles {
        display: none;
    }
    .gallery-content {
        text-align: center;
        padding: 30px 0 0 0;
    }
    .button-gallery {
        max-width: 100%;
    }
    .swiper-slide {
        flex-direction: column;
    }
    .arrow-left, .arrow-right {
        margin: auto;
        top: 0;
        bottom: 0;
        text-align: center;
    }
    .search-input {
        width: 100%;
    }
}

@media(max-width: 960px) {
    .nav-ul {
        display: none;
    }
    .burger-menu {
        display: flex;
        z-index: 10;
    }
    .nav-menu.open .nav-ul {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: #DCE5E2;
        z-index: 1;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        justify-content: center;
        align-items: center;
    }
    .nav-menu.open .nav-ul .item-ul-nav a {
        font-size: 20px;
    }
    .header-nav {
        flex-direction: column;
        gap: 10px;
    }
    .search-shop {
        padding: 0;
    }
}

@media(max-width: 680px) {
    .category-content-row {
        display: block;
    }
    .left-category {
        padding-bottom: 72px;
    }

}

@media(max-width: 475px) {
   .button-gallery {
    padding: 15px 0px;
   }
   .gallery-content h1 {
    font-size: 45px;
   }
   .devices-input-block {
        flex-direction: column;
        gap: 15px;
        align-items: center;
   }
   .input-devices {
        border-radius: 54px;
        width: 80%;
   }
   .button-devices {
        border-radius: 200px;
        text-align: center;
        width: 50%;
   }
}
@media(max-width: 392px) {
    .footer-ul {
        text-align: center;
    }
}
@media(max-width: 380px) {
    .gallery-content h1 {
     font-size: 30px;
    }
    .right-row {
        display: block;
    }
    .first-right-block {
        margin-bottom: 72px;
    }
    .left-end, .right-end {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
 }